/* Gallery Styles */
.gal-container {
  padding: 25px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
}

.gal-grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 25px;
  padding: 30px;
  width: 100%;
  max-width: 1200px;
}

.gal-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff, #e0e0e0);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: 1px solid red;
  cursor: pointer;
}

.gal-item:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

.gal-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.gal-item p {
  margin: 0;
  font-size: 15px;
  color: #555;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
}
.favouriteBtn {
  background-color: #f1f1f1;
  border: 2px solid #ccc;
  color: #333;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.favouriteBtn:hover {
  background-color: #e0e0e0;
  border-color: #999;
}

.favouriteBtn:active {
  background-color: #d0d0d0;
  border-color: #666;
}

@media (max-width: 900px) {
  .gal-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
  .gal-grid {
    grid-template-columns: 1fr;
  }
}
